{% extends 'layouts/base.html' %}
{% block name %}{{ user.name }}{% endblock %}
{% block content %}
<div class="hidden state-config">
    {% for esp in program_configs %}
    {% for program in esp.configured_programs.split(",") %}
    <div class="state" value="true" id="{{ esp.esp_name }} {{ program }}"></div>
    {% endfor %}
    {% endfor %}
</div>
<div class="section">
    <h2>Arbeitsplatz</h2>
    <select id="esp-selector" class="select" name="esps">
        {% for esp in esps %}
        <option value="{{ esp.name }}">{{ esp.name }} ({{ esp.ip_address }})</option>
        {% endfor %}
    </select>
    <h3>Deine Konfiguration</h3>
    <p>
        <label>
            <input class="conf-checkbox" type="checkbox" name="chrome">
            Chrome
        </label><br>
        <label>
            <input class="conf-checkbox" type="checkbox" name="firefox">
            Firefox
        </label><br>
        <label>
            <input class="conf-checkbox" type="checkbox" name="tronxyslicer">
            Tronxy Slicer
        </label><br>
        <label>
            <input class="conf-checkbox" type="checkbox" name="pronterface">
            Pronterface
        </label><br>
        <label>
            <input class="conf-checkbox" type="checkbox" name="thonny">
            Thonny
        </label><br>
        <label>
            <input class="conf-checkbox" type="checkbox" name="vscode">
            Visual Studio Code
        </label>
    </p>
    <button id="start" class="button success">Arbeitsplatz starten</button><br><br>
    <button id="stop" class="button danger">Arbeitsplatz beenden</button>
    <p class="danger" id="error"></p>
    <p class="success" id="success"></p>
    <script src="{{ url_for('static', filename='js/sync.js') }}"></script>
</div>
{% endblock %}